body 
{background:url(back.jpg);}
p{color:#ffffff;
margin-left:-10px;
}
div{color: #ffffff;}
h1{background-color:#fffff;
color: #fffff;}
h1 {color: white;}
.a 
{font-weight:bold;
color: #42aaff;
font-style:normal;}